main {
    margin: 0 auto;
    width: fit-content;
}

.reverse-container {
    display: flex;
    flex-direction: column-reverse;
}

.form-card {
    display: flex;
    flex-direction: column;
    word-break: break-all;
    width: 32rem;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .form-card {
        width: auto;
        align-self: stretch;
    }
}

.input-label {
    display: flex;
    flex-direction: column;
}

.fixed-url-area {
    display: flex;
    flex-direction: column;
}

.converter-section {
    gap: 0;
}

.converter-section .converter-description {
    margin: 1rem;
    margin-top: 0;
    box-sizing: border-box;
    width: 32rem;
    border-radius: 0 0 8px 8px;
    border-top-width: 0;
    white-space: pre-line;
}

@media (max-width: 768px) {
    .converter-section .converter-description {
        width: auto;
        align-self: stretch;
    }
}

.card:has(> .label-stretch-card) {
    position: relative;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--bg-variant-lighter-color);
    }
}

.label-stretch-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

input#lang,
input#showThumbnail {
    &:not([data-loaded="true"]) {
        visibility: hidden;
    }
}

.note {
    color: var(--main-variant-color);
    font-size: 0.8rem;
    margin: 0.5rem 0 0 0;
}
