/* variables */
:root {
    --main-color: #333;
    --bg-color: #fcfcfc;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --border-color: #ccc;
    --main-variant-color: #555;
    --bg-variant-color: #ebebeb;
    --bg-variant-lighter-color: #dadada;
    --box-shadow-color: rgba(0, 0, 0, 0.3);
    --primary-color: #4a619f;
    --on-primary-color: #ffffff;
    --primary-outline-color: #7e91ac;
    --primary-bg-color: #d4dfff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #eee;
        --bg-color: #222;
        --link-color: #84c1ff;
        --link-hover-color: #c0dfff;
        --border-color: #555;
        --main-variant-color: #ccc;
        --bg-variant-color: #333;
        --bg-variant-lighter-color: #444;
        --primary-color: #afbdff;
        --on-primary-color: #212121;
        --primary-outline-color: rgb(56, 72, 173);
        --primary-bg-color: #284186;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--main-color);
    margin: 1rem;
    font-family: sans-serif;
}

:focus-visible {
    outline-width: 4px;
    outline-color: var(--primary-outline-color);
    outline-style: solid;
    border-radius: 8px;
    outline-offset: 4px;
}

.converter-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.visually-hidden {
    position: fixed;
    opacity: 0;
    width: 4px;
    height: 4px;
    overflow: hidden;
    top: 0px;
    left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
}

a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
    transition: border-bottom-color 0.3s ease, color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
    border-bottom-color: var(--link-hover-color);
}

.card {
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    display: inline-flex;
}

a.card {
    border-bottom: initial;
    color: unset;
    box-sizing: initial;
    transition: unset;
}

a.card:hover {
    border-bottom-color: initial;
    color: unset;
}

.card.block {
    display: block;
}

.card.no-padding {
    padding: 0;
}

.card.elevated {
    background-color: var(--bg-variant-color);
    box-shadow: 0 4px 8px var(--box-shadow-color);
    transition: background-color 0.3s ease;
}

a.card.elevated:hover {
    background-color: var(--bg-color);
}

.card.filled {
    background-color: var(--bg-variant-color);
    transition: box-shadow 0.3s ease;
}

a.card.filled:hover {
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

a.card.outlined {
    transition: background-color 0.3s ease;
}

.card.outlined {
    border: 2px solid var(--border-color);
}

a.card.outlined:hover {
    background-color: var(--bg-variant-color);
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

button,
a.button {
    border-bottom: initial;
    box-sizing: initial;
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    cursor: pointer;
    transform: scale(1);
    transition: border-radius 0.3s ease, transform 0.1s ease;
    text-decoration: none;
}

button[aria-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

button:hover,
a.button:hover {
    border-bottom-color: initial;
    border-radius: 8px;
    text-decoration: none;
}

button:focus,
a.button:focus {
    border-radius: 8px;
    text-decoration: none;
}

button:active,
a.button:active,
button:focus-visible,
a.button:focus-visible {
    transform: scale(1.1);
}

button.elevated,
a.button.elevated {
    background-color: var(--bg-variant-color);
    color: var(--main-color);
    box-shadow: 0 4px 4px var(--box-shadow-color);
}

button.outlined,
a.button.outlined {
    background: transparent;
    border: 1px solid var(--primary-outline-color);
    color: var(--main-color);
}

button.text,
a.button.text {
    background: transparent;
    color: var(--primary-color);
    transition: background-color 0.3s ease, border-radius 0.3s ease,
        transform 0.1s ease;
}

button.text:hover,
a.button.text:hover {
    background-color: rgb(from var(--primary-color) r g b / 10%);
}

button .button-icon,
a.button .button-icon {
    vertical-align: middle;
    display: inline-block;
    font-family: 'Material Symbols Rounded';
    font-size: 1.5em;
    margin-right: 0.5rem;
}

input {
    border: none;
    font: inherit;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
}

input[type='text'],
input[type='url'],
textarea,
select {
    padding: 0.5rem;
    border-radius: 16px;
    font-size: 1rem;
    color: var(--main-color);
    background-color: var(--bg-variant-lighter-color);
    border: 4px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.3s ease, border-radius 0.3s ease;
    font-family: inherit;
    margin: 0.5rem;
}

input[type='text']::placeholder,
input[type='url']::placeholder,
textarea::placeholder {
    color: var(--main-variant-color);
}

input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
    border-color: var(--primary-outline-color);
    border-radius: 8px;
}

input[type='text']:focus:focus-visible,
input[type='url']:focus:focus-visible,
textarea:focus:focus-visible,
select:focus:focus-visible {
    outline: none;
}

input[type='checkbox'].toggle {
    appearance: none;
    background-color: var(--main-variant-color);
    width: 3rem;
    height: 1.5rem;
    vertical-align: middle;
    position: relative;
    border-radius: 0.75rem;
    transition: background-color 0.1s ease;
}

input[type='checkbox'].toggle:checked {
    background-color: var(--primary-color);
}

input[type='checkbox'].toggle::after {
    content: '';
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-424 364-308q-11 11-28 11t-28-11q-11-11-11-28t11-28l116-116-116-115q-11-11-11-28t11-28q11-11 28-11t28 11l116 116 115-116q11-11 28-11t28 11q12 12 12 28.5T651-595L535-480l116 116q11 11 11 28t-11 28q-12 12-28.5 12T595-308L480-424Z" /></svg>'),
        radial-gradient(circle closest-side, transparent calc(100% - 2px), #0f0 calc(100% - 2px));
    mask-size: cover;
    mask-position: center;
    mask-composite: exclude;
    background-color: var(--primary-bg-color);
    box-sizing: border-box;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.125rem;
    position: absolute;
    left: 0;
    border-radius: 0.75rem;
    transform: rotate(0deg);
    transition: left 0.1s ease-in,
        transform 0.1s ease-in;
}

input[type='checkbox'].toggle:checked::after {
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="m382-354 339-339q12-12 28-12t28 12q12 12 12 28.5T777-636L410-268q-12 12-28 12t-28-12L182-440q-12-12-11.5-28.5T183-497q12-12 28.5-12t28.5 12l142 143Z" /></svg>'),
        linear-gradient(#0f0 0 0);
    left: 1.5rem;
    transform: rotate(360deg);
}

label:has(input) {
    cursor: pointer;
    vertical-align: middle;
}
